.git
.gitignore
README.md
Dockerfile
.dockerignore
.metadata
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
.nyc_output/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
*.log
node_modules/
*.tmp
*.temp
