name: ai_tutor_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.0
dependencies:
  flutter:
    sdk: flutter
  markdown_widget: ^2.3.2+8
  http: 1.3.0
  flutter_dotenv: ^5.0.2
  google_generative_ai: ^0.4.0
  intl: ^0.20.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  # assets:
  #   - assets/img/google.png



